.category_container {
  background-color: whitesmoke;
  padding: 1rem 5rem 1rem 5rem;
}
.category_name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
}
.productsOfcategory ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.productsOfcategory li {
  list-style: none;
  padding-bottom: 2rem;
  margin-left: 5%;
}
.category_product_section {
  display: flex;
  justify-content: space-evenly;
}
.category_product_image {
  width: 15rem;
  margin-right: 2rem;
}
.category_product_image img {
  width: 100%;
  height: 100%;
}
.category_product_details {
  line-height: 2rem;
}
.category_product_buttons {
  display: flex;
  justify-content: space-between;
}
