.best_sell_container {
  background-color: whitesmoke;
}
.best_sell_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 1.7rem;
}
.best_sell_products {
  padding-bottom: 3rem;
}
.best_sell_products a {
  text-decoration: none;
  color: black;
}
.best_sell_products ul {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.best_sell_products li {
  list-style: none;
}
.best_sell_product_image {
  width: 15rem;
}
.best_sell_product_image img {
  width: 100%;
  height: 100%;
}
.best_sell_product_buttons {
  display: flex;
  justify-content: space-between;
}
