/* hero section */
.hero_section {
  margin-top: -3rem;
  background-color: aquamarine;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.hero_image_container {
  display: flex;
}
.slide {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hero_buttons button {
  font-size: 50px;
}
.hero_b1,
.hero_b2 {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
}
.hero_b1 {
  left: 2%;
}
.hero_b2 {
  right: 2%;
}
.hero_indicators {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  background: #ffffff;
  cursor: pointer;
  transition: 500ms;
}

.dot.active {
  /* background-color: #979797; */
  width: 1rem;
}

.quiz_section {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 1.5rem;
}
.quiz_section_a_cotainer {
  padding: 0.5rem;
  width: 13rem;
  background-color: rgb(39, 39, 39);
}
.quiz_section_h1 {
  font-size: 3rem;
  font-weight: bolder;
  width: 35rem;
  white-space: normal;
}
.quiz_section_a {
  text-decoration: none;
  color: white;
}
/* hero section */
