/* hero section */
.hero_section {
  background-color: aquamarine;
}
/* .hero_section_image {
  display: flex;
  justify-content: center;
} */
.hero_section {
  position: relative;
  top: -2.5rem;
}
.hero_section_image img {
  width: 100%;
}
.quiz_section {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 1.5rem;
}
.quiz_section_a_cotainer {
  padding: 0.5rem;
  width: 13rem;
  background-color: rgb(39, 39, 39);
}
.quiz_section_h1 {
  font-size: 3rem;
  font-weight: bolder;
  width: 35rem;
  white-space: normal;
}
.quiz_section_a {
  text-decoration: none;
  color: white;
}
/* hero section */
