.prons_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
  padding: 10rem 10% 10rem 10%;
  justify-items: center;
  align-items: center;
}
.prons_img {
  width: 30%;
  object-fit: cover;
}
.prons_heading {
  font-size: 1.5rem;
  font-weight: bold;
}
.prons_text {
  font-size: 0.8rem;
}
