.skin_type_container {
  position: relative;
}
.skintype_upper_section {
  height: 40svh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.skintype_lower_section {
  height: 40svh;
  background-color: #ffdceb;
}
.skintype {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
  /* padding: 10rem 10% 10rem 10%; */
  justify-items: center;
  align-items: center;
}
.skin_type_img {
  background-color: whitesmoke;
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 5rem 0 5rem;
}
.skin_type_img img {
  width: 60%;
}
.skintype_text {
  font-size: 1.5rem;
}
