.shop_by_category_container {
  background-color: whitesmoke;
}
.shop_by_category_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 1.5rem;
}
.shop_by_category_products {
  padding-bottom: 3rem;
}
.shop_by_category_products a {
  text-decoration: none;
  color: black;
}
.shop_by_category_products ul {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.shop_by_category_products li {
  list-style: none;
}
.shop_by_category_image {
  width: 15rem;
}
.shop_by_category_image img {
  width: 100%;
  height: 100%;
}
.shop_by_category_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: underline;
}
