/* Shop by Skin Type */
.shop_by_skin_type {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.shop_by_skin_type img {
  width: 100%;
}
.shop_by_skin_type p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 3rem;
  /* text-align: center; */
  font-weight: bolder;
  color: rgb(0, 0, 0);
  /* padding: 5rem; */
}
.skin_type {
  position: absolute;
  top: 50%;
  left: 40%;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  /* margin-left: 10rem;
  margin-right: 10rem; */
}
.skin_type img {
  width: 6rem;
  height: 100%;
}
.dry,
.oily,
.sensitive {
  text-align: center;
  color: rgb(0, 0, 0);
}
.skin_type_category {
  display: flex;
  justify-content: center;
  /* height: 5rem; */
}
.shop_by_skin_type a {
  text-decoration: none;
}
/* Shop by Skin Type */
