.testimonial_container {
  position: relative;
  height: 100%;
  width: 100%;
}
.testimonial_container img {
  width: 100%;
}
.testimonial_container h1 {
  position: absolute;
  text-align: center;
  padding: 3rem 0 3rem 0;
  font-size: 3rem;
  color: white;
}
.container {
  position: absolute;
  top: 25%;
  width: 40rem;
  height: 20rem;
}
.testimonial_container,
.container {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.testimonial {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  border-radius: 1rem;
}
.slider_row {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 500ms;
}
.slide_col {
  width: 100%;
  height: 100%;
}
.user_text {
  background: linear-gradient(to right, rgb(108, 228, 228), rgb(3, 160, 160));
  width: 40rem;
  height: 100%;
  border-radius: 1rem;
  padding: 5rem;
  color: white;
  box-sizing: border-box;
}
.user_text p {
  font-size: 1rem;
  line-height: 2rem;
}
.user_text h3 {
  margin-top: 2rem;
  color: rgb(255, 255, 255);
}
.btn {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  background: #ffffff;
  cursor: pointer;
  transition: 500ms;
}
.active {
  width: 1.5rem;
}
