/* why botenic blend */
.why_BB_outer_container {
  /* padding: 5rem; */
  background-color: whitesmoke;
  /* padding: 0 5% 0 5% 0; */
}
.why_BB_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 10% 5rem 10%;
  /* height: fit-content; */
}
.why_BB_text {
  /* width: 55%; */
  /* padding: 0 10rem 0 8rem; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: start; */
}
.why_BB_text h1 {
  font-size: 3.5rem;
  padding: 0 0 5% 0;
  text-align: left;
}
.why_BB_text p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}
.why_BB_media {
  margin: 0 0 0 20%;
  /* width: 30vw; */
}
.why_BB_media video {
  width: 100%;
  height: 100%;
}

/* Transition */
/* .why_BB_text {
  overflow: hidden;
  position: relative;
}

.slide_in_text {
  position: absolute;
  top: 30%;
  left: -100%;
  transition: 0.5s;
} */
/* Transition */
/* why botenic blend */
