/* why botenic blend */
.why_BB_container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
  text-align: justify;
}
.why_BB_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 80%;
  border-radius: 3rem;
  padding: 5rem;
  font-size: 2rem;
  background-color: rgb(38, 38, 38, 0.5);
  color: rgb(255, 255, 255);
}
.why_BB_text_content,
.why_BB_text_h1 {
  text-align: center;
}
.why_BB_text_h1 {
  margin-bottom: 5%;
  display: block;
}
.why_BB_text_content {
  width: 80%;
}
.parallax_background {
  position: absolute;
  height: 100;
  width: 100%;
  z-index: -2;
  object-fit: cover;
  transform: translateZ(-200px) scale(4);
  top: 1rem;
}
/* why botenic blend */
