* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
.account_container {
  display: flex;
}
.left_side_options_container {
  width: 30%;
  background-color: #fcc6e2;
  padding: 5% 2% 0 2%;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
}
.my_orders,
.cart,
.profile {
  display: flex;
  height: 3rem;
  margin-bottom: 15%;
}
.left_side_img img {
  height: 3rem;
  object-fit: cover;
  margin-right: 0.5rem;
  cursor: pointer;
}
.text h2 {
  width: fit-content;
}
.text h2,
.text span {
  cursor: pointer;
}

.right_side_options {
  padding: 4.5% 4.5% 10% 4.5%;
  width: 70%;
}
.account_deital_heading {
  font-size: 2rem;
  border-bottom: 1px sold black;
  padding: 0 0 3% 0;
}
.account_details {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 75% 10%;
}
.account_details > * {
  border-bottom: 1px solid black;
  padding: 3% 0 3% 0;
  display: flex;
  align-items: center;
}
.account_details .edit {
  display: flex;
  justify-content: flex-end;
}
.account_details .edit span {
  cursor: pointer;
  color: rgb(125, 125, 228);
}
.account_details .edit span:hover {
  color: rgb(47, 47, 218);
}
.account_details h2 {
  font-size: 1.1rem;
  font-weight: 500;
}

.edit_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
