.best_sell_container {
  background-color: whitesmoke;
  /* padding-bottom: 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr; */
  padding: 0 5% 0 5%;
}
.best_sell_heading {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding: 5% 0 2% 0;
  font-size: 2vw;
  font-family: var(--heading);
}
.best_sell_products {
  padding-bottom: 3rem;
}
.best_sell_products a {
  text-decoration: none;
  color: black;
}
.best_sell_products ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.best_sell_products li {
  list-style: none;
}
.best_sell_product_image {
  width: 20vw;
}
.best_sell_product_image img {
  width: 100%;
  height: 100%;
}
.best_sell_product_buttons {
  display: flex;
  justify-content: space-between;
}
.best_sell_product_buttons button {
  border: none;
  background-color: rgb(184, 228, 213);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.best_sell_product_price {
  display: flex;
  justify-content: space-between;
}
.best_sell_product_name,
.best_sell_product_desc,
.best_sell_product_rating,
.best_sell_product_price {
  margin-bottom: 0.2rem;
  font-size: 1.5vw;
  font-family: var(--heading);
}

.best_sell_product_rating {
  cursor: pointer;
  font-size: 0;
  display: flex;
}

.reviesStars {
  width: 1.2vw;
  object-fit: contain;
  margin: 0;
}
