.side-cart {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 35vw;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  box-shadow: none;
}
.cart_heading_container {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}
.cart_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_heading span {
  margin: 1vw;
  cursor: pointer;
  font-size: 1.5vw;
}
.side-cart p {
  font-weight: bold;
  margin: 1vw;
  font-size: 2vw;
  font-family: var(--heading);
}

.side-cart ul {
  list-style: none;
  padding: 0;
}

.side-cart li {
  padding: 1vw;
  font-size: 1.5vw;
  display: flex;
  font-family: var(--heading);
}

.cart-icon {
  cursor: pointer;
}
.cartProductImg,
.cartProductDetails {
  height: 5.5vw;
}
.cartProductImg img {
  height: 100%;
  object-fit: contain;
  margin-right: 1vw;
  border-radius: 50%;
}
.cartProductRating {
  display: flex;
}
.cartProductRating img {
  width: 1.5vw;
}
.cartProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy_remove_btn {
  align-items: end;
  margin-left: auto;
}
.remove_button {
  cursor: pointer;
}
.remove_button i {
  font-size: 1vw;
}

/* Phone Responsive */
@media screen and (min-aspect-ratio: 1/3) and (max-aspect-ratio: 1/1) {
  .side-cart {
    width: 80vw;
    right: -80vw;
  }
  .side-cart p {
    margin: 3vw;
    font-size: 8vw;
  }
  .cart_heading span {
    margin: 5vw;
    font-size: 8vw;
  }
  .side-cart li {
    padding: 3vw;
    font-size: 4vw;
  }
  .side-cart li {
    font-size: 4.5vw;
  }
  .cartProductImg,
  .cartProductDetails {
    min-height: 18vw;
    overflow: hidden;
  }
  .cartProductImg img {
    margin-right: 5vw;
  }
  .cartProductRating img {
    width: 4vw;
  }
  .remove_button i {
    font-size: 5vw;
  }
}
