.side-cart {
  position: fixed;
  top: 0;
  right: -35vw;
  width: 35vw;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  box-shadow: -12px 10px 17px 4px rgba(0, 0, 0, 0.3);
}
.cart_heading_container {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}
.cart_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_heading span {
  margin: 1vw;
  cursor: pointer;
  font-size: 1.5vw;
}
.side-cart p {
  font-weight: bold;
  margin: 1vw;
  font-size: 2vw;
  font-family: var(--heading);
}

.side-cart ul {
  list-style: none;
  padding: 0;
}

.side-cart li {
  padding: 1vw;
  font-size: 1.5vw;
  display: flex;
  font-family: var(--heading);
}

.cart-icon {
  cursor: pointer;
}
.cartProductImg,
.cartProductDetails {
  height: 5.5vw;
}
.cartProductImg img {
  height: 100%;
  object-fit: contain;
  margin-right: 1vw;
  border-radius: 50%;
}
.cartProductRating {
  display: flex;
}
.cartProductRating img {
  width: 1.5vw;
}
.cartProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy_remove_btn {
  align-items: end;
  margin-left: auto;
}
.remove_button {
  cursor: pointer;
}
.remove_button i {
  font-size: 1vw;
}
