* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
.heading_container {
  position: relative;
  margin-top: -8%;
}
.heading_container img {
  width: 100%;
  object-fit: cover;
}
.heading_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}
.contact_text {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  text-align: center;
  color: white;
  z-index: 1;
}

/* infro */
.contact_info_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 5% 10% 5% 10%;
}
.info {
  border: 0.1rem solid black;
  padding: 2rem;
}
.info img {
  width: 3rem;
  object-fit: cover;
}

.contat_form_container {
  margin: 0 10% 10% 10%;
}
.contat_form_container h2 {
  margin-bottom: 1rem;
}
.customer_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}
.customer_info input[type="text"],
.customer_info input[type="tel"] {
  border-radius: 0;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}
.comment_section {
  margin-bottom: 2rem;
}
.comment_section textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
}
.send_btn {
  display: flex;
  justify-content: center;
}
.send_btn input[type="button"] {
  width: 10rem;
  height: 3rem;
  border: 1px solid black;
  background-color: white;
}
.send_btn input[type="button"]:hover {
  background-color: #0b1354;
  color: white;
  border: none;
}
