/* Basic css */
* {
  margin: 0;
  padding: 0;
}

/* Footer Container */

/* Footer Content */
.footer_content {
  background-color: var(--footer_bg);
  font-family: var(--heading);
  height: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  color: var(--white_text);
}
/* Left Side Footer */
.left_footer_content {
  text-align: center;
  display: flex;
  justify-content: center;
}
.left_footer_content_list {
  list-style: none;
}
.left_footer_content_list a {
  text-decoration: none;
  font-size: 1.3vw;
  line-height: 2vw;
  color: var(--white_text);
}
.left_footer_content_list li {
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Left Side Footer */

/* Footer Logo */
.center_footer_logo {
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center_footer_logo img {
  width: 8vw;
}
.center_footer_logo a {
  text-decoration: none;
  font-size: 2.5vw;
  font-family: var(--logo);
  color: var(--white_text);
}
/* Footer Logo */

/* Right Side Footer */
.right_footer_content_text {
  margin-bottom: 0.8vw;
  text-align: center;
  font-size: 1.3vw;
}
.right_footer_content_links {
  display: flex;
  justify-content: center;
}
.right_footer_content_links a {
  margin: 0.5vw;
}
.right_footer_content_links i {
  font-size: 1.5vw;
  color: var(--white_text);
}
/* Right Side Footer */
/* Footer Content */

/* Cpoyright */
.footer_copyright {
  background-color: var(--footer_copyright_bg);
  height: 3vw;
  line-height: 3vw;
  padding-left: 1rem;
  font-size: 1.5vw;
  color: var(--white_text);
}
/* Cpoyright */
/* Footer Container */
* {
  font-weight: lighter;
}
