/* hero section */
.hero_section {
  background-color: aquamarine;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-top: -12%;
}
.hero_image_container {
  display: flex;
}
.slide {
  width: 100svw;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.hero_buttons button {
  font-size: 50px;
}
.hero_b1,
.hero_b2 {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
}
.hero_b1 {
  left: 2%;
}
.hero_b2 {
  right: 2%;
}
.hero_b1 i,
.hero_b2 i {
  font-size: 2vw;
}

.hero_indicators {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  display: inline-block;
  height: 1vw;
  width: 1vw;
  margin: 0.1vw;
  border-radius: 50cqh;
  background: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.dot.active {
  /* background-color: #979797; */
  width: 2vw;
}

.quiz_section {
  position: absolute;
  top: 38%;
  left: 8%;
}
.quiz_section_a_cotainer {
  padding: 0.7vw 1.5vw;
  width: fit-content;
  background-color: transparent;
  border-radius: 100vw;
  border: 0.1vw solid black;
  transition: background-color 0.5s, color 0.5s;
}

.quiz_section_a_cotainer:hover {
  background-color: #ffffff;
}

.quiz_section_h1 {
  font-size: 4vw;
  font-weight: bolder;
  width: 40vw;
  white-space: normal;
  margin-bottom: 5%;
  font-family: var(--heading);
}

.quiz_section_a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  font-family: var(--heading);
  /* font-weight: bold; */
  font-style: italic;
}
/* .quiz_section_a_cotainer:hover {
  background-color: #0b1354;
}
.quiz_section_a_cotainer:hover .quiz_section_a {
  color: white;
} */
/* hero section */

/* Phone Responsive */
@media screen and (min-aspect-ratio: 1/3) and (max-aspect-ratio: 1/1) {
  .hero_section {
    position: relative;
    margin-top: -9vh;
  }
  .slide {
    width: 100%;
    min-height: 100vh;

    object-position: 70%;
  }
  .quiz_section {
    top: 15vh;
    left: 10vw;
  }
  .quiz_section_h1 {
    font-size: 6vh;
    width: 36vh;
  }
  .quiz_section_a {
    font-size: 2.5vh;
  }

  .quiz_section_a_cotainer {
    padding: 1vw 2.5vw;
  }
  .quiz_section_a_cotainer:hover {
    background-color: transparent;
  }
  .dot.active {
    width: 5vw;
  }
  .dot {
    min-height: 3vw;
    overflow: hidden;
    width: 3vw;
    margin: 0.5vw;
  }
}
