/* hero section */
.hero_section {
  background-color: var(--backgroung_color);
  color: var(--black_text);
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-top: -12%;
}
.hero_image_container {
  display: flex;
}
.slide {
  width: 100svw;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.hero_indicators {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  display: inline-block;
  height: 1vw;
  width: 1vw;
  margin: 0.1vw;
  border-radius: 50cqh;
  background: var(--white_text);
  cursor: pointer;
  transition: 1s;
  transition: background 0.5s ease-in-out;
}
.dot:hover {
  background: var(--button_bg_hover);
}

.dot.active {
  width: 2vw;
}

.quiz_section {
  position: absolute;
  top: 38%;
  left: 8%;
}
.quiz_section_a_cotainer {
  padding: 0.7vw 1.5vw;
  width: fit-content;
  border-radius: 100vw;
  border: 0.1vw solid var(--black_text);
  transition: background-color 0.5s, border 0.5s;
}

.quiz_section_a_cotainer:hover {
  background-color: var(--button_bg_hover);
  border: 0.1vw solid var(--button_border_hover);
}

.quiz_section_h1 {
  font-size: 4vw;
  width: 40vw;
  margin-bottom: 5%;
  font-family: var(--heading);
}

.quiz_section_a {
  text-decoration: none;
  color: var(--black_text);
  font-size: 2vw;
  font-family: var(--heading);
  font-style: italic;
}
* {
  font-weight: lighter;
}
