body {
  overflow-x: hidden;
  background-color: var(--backgroung_color);
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header_containor {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4;
}
* {
  font-weight: lighter;
}
