.new_arrival_container {
  background-color: whitesmoke;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
  padding: 0 5% 0 5%;
}
.new_arrival_heading {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5% 0 2% 0;
  font-size: 2vw;
  font-family: var(--heading);
}
.new_arrival_products {
  padding-bottom: 3rem;
}
.new_arrival_products a {
  text-decoration: none;
  color: black;
}
.new_arrival_products ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
}

.new_arrival_products li {
  list-style: none;
  /* border-bottom: 0.1rem solid black; */
  margin-bottom: 5%;
}
.new_arrival_product_image {
  width: 20vw;
}
.new_arrival_product_image img {
  width: 100%;
  height: 100%;
}

.new_arrival_product_price {
  display: flex;
  justify-content: space-between;
}
.new_arrival_product_buttons,
.add_to_cart {
  background-color: whitesmoke;
  display: flex;
  height: 1rem;
  justify-content: center;
  align-items: center;
  color: black;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}
.new_arrival_product_buttons {
  padding: 3% 0 3% 0;
  transition: background-color 0.5s, color 0.5s;
}
.add_to_cart {
  padding: 2% 5% 2% 5%;
}
.add_to_cart {
  font-size: 1.2vw;
}
.add_to_cart i {
  font-size: 1.3vw;
}
.product-container {
  transition: width 5s, height 5s, background-color 0.5s, color 0.5s;
}

.add-to-cart {
  display: none;
  cursor: pointer;
}

.new_arrival_product_name,
.new_arrival_product_desc,
.new_arrival_product_rating,
.new_arrival_product_price,
.new_arrival_product_buttons {
  margin-bottom: 0.2rem;
  font-size: 1.5vw;
  font-family: var(--heading);
}

.rating {
  cursor: pointer;
  font-size: 0;
  display: flex;
}

.IndexPageStars {
  width: 1.2vw;
  object-fit: contain;
  margin: 0;
}
