.header_containor {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.heading {
  text-align: center;
  font-size: 2.2vw;
  font-style: italic;
  padding: 3%;
}
body {
  background-color: whitesmoke;
  font-family: var(--heading);
}
.resertPassword {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 35% 5% 35%;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 0;
  padding: 1vw;
  font-size: 1.2vw;
  font-family: var(--heading);
  margin-bottom: 2%;
}
form input[type="submit"] {
  background-color: whitesmoke;
  width: 100%;
  color: black;
  border: none;
  padding: 1vw;
  font-size: 1.2vw;
  border: 1px solid black;
}
form input[type="submit"]:hover {
  background-color: #fcc6e2;
  color: black;
  border: none;
  border: 1px solid black;
}
