* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header_containor {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--navbar);
  border-bottom: 0.1vw solid var(--black_text);
}
body {
  background-color: var(--backgroung_color);
  overflow-x: hidden;
  font-family: var(--heading);
  color: var(--black_text);
}
.payment_products_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* User Details */
.userInfo_payment_container {
  padding: 5%;
  background-color: #ffe1ee;
}
.userInfo_payment_container form > * {
  margin-bottom: 5%;
}

/* Contact */
.email_container > * {
  margin-bottom: 1%;
}
.email_heading_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contactHeading {
  font-size: 1.95vw;
}
.logIn {
  font-size: 1.5vw;
}
.logIn a {
  text-decoration: none;
  position: relative;
  color: var(--black_text);
  transition: 0.5s ease-in-out;
}
.logIn a:hover {
  color: var(--link_text);
}
.logIn a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1vw;
  bottom: 0;
  left: 0;
  background-color: var(--black_text);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
.logIn a:hover::before {
  transform: scaleX(1);
  background-color: var(--link_text);
}
.email_container input[type="email"] {
  width: 100%;
  padding: 1.5%;
  border-radius: 0.5vw;
  border: 0.1vw solid var(--black_text);
  font-size: 1.5vw;
  background-color: var(--backgroung_color);
  color: var(--black_text);
}
.emailMeNews {
  display: flex;
  align-items: center;
}
.email_container input[type="checkbox"],
.saveInfo input[type="checkbox"] {
  margin-right: 0.5vw;
  width: 1.2vw;
  height: 1.2vw;
  -webkit-appearance: none;
  appearance: none;
  border: 0.1vw solid var(--black_text);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 0.2vw #ffe1ee inset; /* inner border */
}
.email_container input[type="checkbox"]:checked,
.saveInfo input[type="checkbox"]:checked {
  background-color: var(--black_text); /* filling when hovering */
  box-shadow: 0 0 0 0.1vw #ffe1ee inset, 0 0 0 0.3vw var(--black_text) inset;
}
.email_container input[type="checkbox"]:hover,
.saveInfo input[type="checkbox"]:hover {
  background-color: var(--black_text);
}

.email_container span {
  font-size: 1.3vw;
}
/* Contact */

/* Delivery */
.deviveryDetails_container > *,
.differentAdd_container > * {
  margin-bottom: 1%;
}
.delivery_heading {
  font-size: 1.95vw;
}
.country input[type="text"],
.name input[type="text"],
.address input[type="text"],
.city_state_pincode input[type="text"],
.city_state_pincode input[type="number"],
.phoneNumber input[type="tel"],
.diff_country input[type="text"],
.diff_name input[type="text"],
.diff_address input[type="text"],
.diff_city_state_pincode input[type="text"],
.diff_city_state_pincode input[type="number"],
.diff_phoneNumber input[type="tel"] {
  background-color: var(--backgroung_color);
  border: 0.1vw solid var(--black_text);
  color: var(--black_text);
  padding: 1.5%;
  width: 100%;
  font-size: 1.5vw;
}
.country input[type="text"],
.diff_country input[type="text"] {
  width: 100%;
}
.name,
.diff_name {
  display: flex;
  gap: 1%;
}
.name input[type="text"],
.diff_name input[type="text"] {
  width: 50%;
}
.address input[type="text"],
.diff_address input[type="text"] {
  width: 100%;
}
.city_state_pincode,
.diff_city_state_pincode {
  display: flex;
  gap: 1%;
}
.phoneNumber input[type="tel"],
.diff_phoneNumber input[type="tel"] {
  width: 100%;
}
.saveInfo {
  display: flex;
  align-items: center;
}
.saveInfo span {
  font-size: 1.3vw;
}
/* Delivery */

/* Payment */
.payment_heading {
  font-size: 1.95vw;
  margin-bottom: 1%;
}
.payment_subHeading {
  margin-bottom: 1%;
  font-size: 1.5vw;
}
.payment_container span {
  font-size: 1.5vw;
}
.onlinePayment {
  border: 0.1vw solid var(--black_text);
  padding: 1.5%;
  display: flex;
  align-items: center;
  border-radius: 0.5vw 0.5vw 0 0;
}
.onlinePayment input[type="radio"] {
  margin-right: 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
}

.onlinePaymentWarning {
  display: flex;
  border: 0.1vw solid var(--black_text);
}

.onlinePaymentWarning img {
  width: 45%;
  object-fit: contain;
  padding: 0 10% 0 10%;
}
.onlinePaymentWarning span {
  padding: 10% 13% 10% 0;
}
.cashOnDelivery {
  border: 0.1vw solid var(--black_text);
  padding: 1.5%;
  display: flex;
  align-items: center;
  border-radius: 0 0 0.5vw 0.5vw;
}
.cashOnDelivery input[type="radio"] {
  margin-right: 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
}
.onlinePayment,
.onlinePaymentWarning,
.cashOnDelivery {
  background-color: var(--backgroung_color);
}

/* Payment */

/* billing */
.billing_heading {
  font-size: 1.95vw;
  margin-bottom: 1%;
}
.sameAsShippingAdd,
.diffAddress {
  border: 0.1vw solid var(--black_text);
  padding: 1.5%;
  display: flex;
  align-items: center;
}
.sameAsShippingAdd {
  border-radius: 0.5vw 0.5vw 0 0;
}
.diffAddress {
  border-radius: 0 0 0.5vw 0.5vw;
}
.sameAsShippingAdd input[type="radio"],
.diffAddress input[type="radio"] {
  margin-right: 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
}
form input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0.1vw solid var(--black_text); /* Black outer border */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 0.2vw #ffe1ee inset; /* White inner border */
  background-color: #ffe1ee;
}
form input[type="radio"]:checked {
  background-color: var(--black_text); /* Black inner color when checked */
  box-shadow: 0 0 0 0.2vw #ffe1ee inset,
    /* White inner border */ 0 0 0 0.3vw var(--black_text) inset; /* Black outer border */
}

.differentAdd_container {
  display: none;
  padding: 2%;
  border: 0.1vw solid var(--black_text);
  border-radius: 0 0 0.5vw 0.5vw;
}
.billingAddress_conatiner span {
  font-size: 1.5vw;
}
.sameAsShippingAdd,
.diffAddress {
  background-color: var(--backgroung_color);
}
.differentAdd_container {
  background-color: #ffe1ee;
}

/* billing */

/* PayNow */
.payNow_container {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-top: 3%;
}
.payNow_container input[type="submit"] {
  font-size: 1.95vw;
  width: 100%;
  padding: 0.5vw;
  border: none;
  border: 0.1vw solid var(--button_border);
  background-color: var(--button_bg);
  color: var(--black_text);
  transition: 0.5s ease-in-out;
}
.payNow_container input[type="submit"]:hover {
  background-color: var(--button_bg_hover);
  border: 0.1vw solid var(--button_border_hover);
}
/* PayNow */

/* All Products */
.allProducts_container {
  background-color: var(--backgroung_color);
  padding: 5%;
}
/* Products */
.purchaseProducts_container {
  margin-bottom: 8%;
}
.purchaseProducts_container li {
  list-style: none;
  margin-bottom: 2%;
}
.productToPurchase {
  display: grid;
  grid-template-columns: 13% 49% 28% 10%;
}
.buying_produce_img {
  width: 5vw;
  margin-right: 2%;
}
.buying_produce_img img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.buying_product_name_star {
  margin-right: 5%;
}
.buying_product_name {
  font-size: 1.5vw;
}
.star {
  width: 1.5vw;
  display: flex;
}
.star img {
  width: 100%;
  margin-right: 0.2vw;
}
.weight_container,
.quantity_container {
  display: flex;
  align-items: center;
}

.weight,
.quantity {
  font-size: 1.5vw;
}

/* .weight_container span {
  border: 0.1vw solid black;
  padding: 1% 3% 1% 3%;
  margin-right: 2%;
} */
.quantity_container span {
  padding: 1%;
  font-size: 1.5vw;
}
.qty_descrese,
.qty_increse {
  cursor: pointer;
  user-select: none;
}
.qty_number {
  user-select: none;
}

.buying_product_price {
  width: auto;
  margin-left: auto;
}
.buying_price {
  font-size: 1.5vw;
}
.buying_product_name,
.weight_container {
  margin-bottom: 0.5vw;
}
/* Products */

/* Amount */
.subTotal_contianer,
.gst_container,
.totalAmount_continer {
  display: flex;
  justify-content: space-between;
}
.subTotal_contianer {
  border-top: 0.1vw solid var(--black_text);
  padding-top: 1vw;
}
.subTotal,
.totalAmount_continer {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.GST {
  font-size: 1.3vw;
}
.gst_container {
  margin-bottom: 2%;
}
.subTotalAmount,
.totalAmount {
  font-size: 1.5vw;
}
.gstAmount {
  font-size: 1.3vw;
}
/* Amount */
* {
  font-weight: lighter;
}
form input::placeholder {
  color: var(--black_text);
  opacity: 0.5;
}
form input {
  border-radius: 0.5vw;
}
