* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border-radius: 0; */
}
.header_containor {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid black;
}
body {
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: var(--heading);
}
.payment_products_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* User Details */
.userInfo_payment_container {
  padding: 5%;
}
.userInfo_payment_container form > * {
  margin-bottom: 5%;
}

/* Contact */
.email_container > * {
  margin-bottom: 1%;
}
.email_heading_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contactHeading {
  font-size: 1.8vw;
}
.logIn {
  font-size: 1vw;
}
.email_container input[type="email"] {
  width: 100%;
  padding: 1.5%;
  border-radius: 0;
  border: 1px solid black;
  font-size: 1vw;
  font-family: var(--heading);
}
.email_container input[type="checkbox"] {
  margin-right: 0.5%;
}
.email_container span {
  font-size: 1vw;
}
/* Contact */

/* Delivery */
.deviveryDetails_container > *,
.differentAdd_container > * {
  margin-bottom: 1%;
}
.delivery_heading {
  font-size: 1.8vw;
}
.country input[type="text"],
.name input[type="text"],
.address input[type="text"],
.city_state_pincode input[type="text"],
.phoneNumber input[type="text"],
.diff_country input[type="text"],
.diff_name input[type="text"],
.diff_address input[type="text"],
.diff_city_state_pincode input[type="text"],
.diff_phoneNumber input[type="text"] {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  padding: 1.5%;
  width: 100%;
  font-size: 1vw;
  font-family: var(--heading);
}
.country input[type="text"],
.diff_country input[type="text"] {
  width: 100%;
}
.name,
.diff_name {
  display: flex;
  gap: 1%;
}
.name input[type="text"],
.diff_name input[type="text"] {
  width: 50%;
}
.address input[type="text"],
.diff_address input[type="text"] {
  width: 100%;
}
.city_state_pincode,
.diff_city_state_pincode {
  display: flex;
  gap: 1%;
}
.phoneNumber input[type="text"],
.diff_phoneNumber input[type="text"] {
  width: 100%;
}
.saveInfo input[type="checkbox"] {
  margin-right: 0.5%;
}
.saveInfo span {
  font-size: 1vw;
}
/* Delivery */

/* Payment */
.payment_heading {
  font-size: 1.8vw;
  margin-bottom: 1%;
}
.payment_subHeading {
  margin-bottom: 1%;
  font-size: 1.5vw;
}
.payment_container span {
  font-size: 1.3vw;
}
.onlinePayment {
  border: 1px solid black;
  padding: 1.5%;
}
.onlinePayment input[type="radio"] {
  margin-right: 0.5%;
}

.onlinePaymentWarning {
  display: flex;
  border: 1px solid black;
}

.onlinePaymentWarning img {
  width: 45%;
  object-fit: contain;
  padding: 0 10% 0 10%;
}
.onlinePaymentWarning span {
  padding: 10% 20% 10% 0;
}
.cashOnDelivery {
  border: 1px solid black;
  padding: 1.5%;
}
.cashOnDelivery input[type="radio"] {
  margin-right: 0.5%;
}

/* Payment */

/* billing */
.billing_heading {
  font-size: 1.8vw;
  margin-bottom: 1%;
}
.sameAsShippingAdd,
.diffAddress {
  border: 1px solid black;
  padding: 1.5%;
}
.sameAsShippingAdd input[type="radio"],
.diffAddress input[type="radio"] {
  margin-right: 0.5%;
}

.differentAdd_container {
  display: none;
  padding: 2%;
  border: 1px solid black;
  background-color: rgb(255, 235, 239);
}
.billingAddress_conatiner span {
  font-size: 1.3vw;
}
/* billing */

/* PayNow */
.payNow_container {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-top: 3%;
}
.payNow_container button[type="submit"] {
  font-size: 1.5vw;
  font-family: var(--heading);
  width: 100%;
  padding: 0.5vw;
  border: none;
  border: 1px solid black;
}
.payNow_container button[type="submit"]:hover {
  background-color: #fcc6e2;
}
/* PayNow */

/* All Products */
.allProducts_container {
  background-color: #ffffff;
  padding: 5%;
}
/* Products */
.purchaseProducts_container {
  margin-bottom: 8%;
}
.purchaseProducts_container li {
  list-style: none;
  margin-bottom: 2%;
}
.productToPurchase {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 3fr 1fr; */
}
.buying_produce_img {
  width: 5vw;
  margin-right: 2%;
}
.buying_produce_img img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.buying_product_name_star {
  /* width: 50%; */
  margin-right: 5%;
}
.buying_product_name {
  font-size: 1.8vw;
  height: 3vw;
}
.star img {
  width: 1.5vw;
}
.weight_container,
.quantity_container {
  display: flex;
  align-items: center;
}

.weight {
  height: 3vw;
}
.weight,
.quantity {
  font-size: 1.3vw;
}

.weight_container span {
  border: 1px solid black;
  padding: 1% 3% 1% 3%;
  margin-right: 2%;
}
.quantity_container span {
  /* border: 1px solid black; */
  padding: 1%;
}
.qty_descrese,
.qty_increse {
  cursor: pointer;
  user-select: none;
}
.qty_number {
  user-select: none;
}

.buying_product_price {
  width: auto;
  margin-left: auto;
}
.buying_price {
  font-size: 1.5vw;
}
/* Products */

/* Amount */
.subTotal_contianer,
.gst_container,
.totalAmount_continer {
  display: flex;
  justify-content: space-between;
}
.subTotal,
.totalAmount_continer {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.GST {
  font-size: 1.3vw;
}
.gst_container {
  margin-bottom: 2%;
}
.subTotalAmount,
.totalAmount {
  font-size: 1.5vw;
}
.gstAmount {
  font-size: 1.3vw;
}
/* Amount */
