body {
  background-color: whitesmoke;
  font-family: var(--heading);
}
.header_containor {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.product_detail_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5% 10% 5% 10%;
}
.product_image {
  padding-right: 20%;
}
.product_image img {
  width: 90%;
  object-fit: contain;
}

.product_detail > * {
  margin-bottom: 3%;
}

.product_name {
  font-size: 3vw;
}
.product_description {
  font-size: 1.2vw;
  text-align: justify;
}
.weight_container,
.quantity_container,
.product_price_container {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}
.weight,
.flavour,
.quantity,
.price_heading,
.productPrice {
  margin-right: 5%;
}

.priceSign {
  font-size: 1.5wv;
}

.weight_container span {
  border: 0.1vw solid black;
  font-size: 1.2vw;
  padding: 1% 3% 1% 3%;
  margin-right: 2%;
}
.quantity_container span {
  border: 0.1vw solid black;
  padding: 1%;
  font-size: 1.2vw;
}
.qty_descrese,
.qty_increse {
  cursor: pointer;
  user-select: none;
}
.qty_descrese:hover,
.qty_increse:hover {
  background-color: #fcc6e2;
}
.qty_number {
  user-select: none;
}
.buy_cart_container {
  display: flex;
}

.buy_cart_container > * {
  border: 0.1vw solid black;
  padding: 1% 3% 1% 3%;
  font-size: 1.3vw;
  margin-right: 5%;
}
.buy_button {
  text-decoration: none;
  color: black;
}
.buy_button:hover {
  background-color: #fcc6e2;
  border: 0.1vw solid black;
}
.add_to_cart_button:hover {
  background-color: #fcc6e2;
  border: 0.1vw solid black;
}
.best_sell_container,
.description_review_policy_container {
  padding: 0 10% 5% 10%;
}
.product_description_container,
.shipping_Returns_container,
.customer_reviews_container {
  border: 0.1vw solid black;
  padding: 2%;
  margin-bottom: 1%;
}
.description,
.shipping_Returns,
.reviews {
  cursor: pointer;
}
.returnPolicy_detail,
.shippingDetail_container {
  font-size: 1.2vw;
}
.reviews:hover {
  background-color: #fcc6e2;
  border: 0.1vw solid black;
}
.shipping_Returns_container {
  display: none;
}
.product_description_container > * {
  margin-bottom: 2%;
}
.desc_shipping_review {
  display: flex;
  font-size: 1.3vw;
}
.desc_shipping_review > * {
  border: 0.1vw solid black;
  padding: 0.5% 2% 0.5% 2%;
}

.keyIngredientsList,
.featuresList,
.howToUseList,
.cautionList {
  padding-left: 3%;
  font-size: 1.2vw;
}

.desc_product_name span {
  font-size: 1.2vw;
  font-weight: normal;
}

.desc_product_name,
.keyIngredients,
.features,
.howToUse,
.caution,
.returnPolicy,
.shippingDetail {
  font-weight: bold;
  font-size: 1.2vw;
  margin-bottom: 0.5%;
}

.customerReviewHeading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  margin-bottom: 1%;
}
.writeReview {
  border: 0.1vw solid black;
  padding: 0.5%;
  cursor: pointer;
  user-select: none;
  font-size: 1.2vw;
}
.writeReview:hover {
  background-color: #fcc6e2;
  border: 0.1vw solid black;
}
.heading,
.writeReview {
  margin-bottom: 1%;
}
.heading {
  font-size: 2vw;
}

.review_write_container {
  border-bottom: 0.1vw solid black;
  margin-bottom: 1%;
  display: none;
}
.review_write_container_heading {
  margin-bottom: 1%;
  font-size: 1.5vw;
}
.review_title,
.review_body {
  font-size: 1.2vw;
}
.customerName_date_container {
  display: flex;
  justify-content: space-between;
}
.customerName_date_container_left {
  display: flex;
  font-size: 1.2vw;
  width: 100%;
}
.customerName_date_container_right {
  width: 100%;
  display: flex;
  justify-content: end;
}
.customer_name {
  margin-right: 1%;
}
.date {
  margin-left: 1%;
}
.delete-review {
  border: 0;
  font-size: 1.2vw;
  position: relative;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: var(--heading);
  background-color: transparent;
}
.delete-review::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1vw;
  background-color: red;
  transition: width 0.3s ease;
}

.delete-review:hover {
  color: red;
}

.delete-review:hover::after {
  width: 100%;
}

.review_container {
  padding: 0 2% 0 2%;
}
.review_list {
  list-style: none;
}
.review_list li {
  margin-bottom: 3%;
}
.CustomerRating {
  display: flex;
}

.review_title_container input[type="text"] {
  box-sizing: border-box;
  border: 0.1vw solid black;
  border-radius: 0;
  padding: 0.5%;
  font-size: 1vw;
  margin-bottom: 1%;
  width: 100%;
  background-color: whitesmoke;
}
.review_body_container textarea {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  padding: 0.5%;
  font-size: 1vw;
  background-color: whitesmoke;
}
.submit_button {
  display: flex;
  justify-content: end;
  margin: 1% 0 2% 0;
}
.submit_button input[type="submit"] {
  padding: 0.3% 1% 0.3% 1%;
  border-radius: 0;
  border: 0.1vw solid black;
  font-size: 1vw;
}
.submit_button input[type="submit"]:hover {
  background-color: #fcc6e2;
  border: 0.1vw solid black;
}
.rating_container,
.rating {
  margin: 0.5rem 0 0.5rem 0;
}
.review_rating,
.best_sell_product_rating,
.rating {
  cursor: pointer;
  font-size: 0;
  display: flex;
  margin: 0;
  margin-bottom: 2%;
}
.star,
.reviesStars,
.Product_star,
.CustomerReviesStars {
  width: 1.5vw;
  object-fit: contain;
  margin: 0;
  margin-right: 0.5%;
}
.star_container {
  padding-right: 0.2rem;
}
#bestSellerList {
  flex-wrap: nowrap;
  gap: 2%;
}
.best_sell_product_image {
  width: 18vw;
}
.icon svg {
  width: 1.5vw;
}
.best_sell_heading {
  font-size: 1.5vw;
}
