.prons_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0.7vw;
  padding: 10vw 5vw;
  justify-items: center;
  align-items: baseline;
  font-family: var(--heading);
  background-color: var(--backgroung_color);
  color: var(--black_text);
}
.prons_img {
  width: 30%;
  object-fit: cover;
}
.prons_heading {
  font-size: 1.5vw;
  font-weight: bold;
}
.prons_text {
  font-size: 1.3vw;
  text-align: center;
  padding: 0 1vw;
}
* {
  font-weight: lighter;
}
