/* science */
.science_container {
  padding: 0 5% 10% 5%;
  text-align: center;
  background-color: var(--button_bg);
  color: var(--black_text);
  font-family: var(--heading);
}
.science_content {
  padding: 0 5% 0 5%;
  font-size: 2.99vw;
}
.science_content_paragraph {
  padding: 3% 0;
  font-size: 1.5vw;
}
.science_icons_container {
  display: flex;
  justify-content: center;
}
.science_icon {
  width: 15vw;
  font-size: 1.5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1vw;
}
.science_icon img {
  display: block;
  width: 6vw;
}

/* science */
* {
  font-weight: lighter;
}
