/* science */
.science_container {
  padding: 0 5% 15% 5%;
  text-align: center;
  background-color: #ffdceb;
}
.science_content {
  padding: 0 5% 0 5%;
  font-size: 3vw;
  font-family: var(--heading);
}
.science_content_paragraph {
  padding: 5% 0 5% 0;
  font-size: 1.5vw;
  font-family: var(--heading);
}
.science_icons_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
.science_icon {
  width: 10vw;
  font-size: 1vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.8rem;
  font-family: var(--heading);
}
.science_icon img {
  display: block;
  width: 6vw;
}

/* science */
