.heading {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  padding: 3%;
}
.singUp {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 35% 5% 35%;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  background-color: white;
  border-radius: 0;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 2%;
}
form input[type="button"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  background-color: white;
  border-radius: 0;
  padding: 1rem;
  font-size: 1rem;
}
form input[type="button"]:hover {
  background-color: #0b1354;
  color: white;
  border: none;
  border: 1px solid white;
}
