.header_containor {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.heading {
  text-align: center;
  font-size: 2.69vw;
  padding: 4vw 0 2vw 0;
}
body {
  background-color: var(--backgroung_color);
  font-family: var(--heading);
  color: var(--black_text);
}
.singUp {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 35% 5% 35%;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  border: 0.1vw solid var(--black_text);
  background-color: var(--backgroung_color);
  color: var(--black_text);
  border-radius: 0.5vw;
  padding: 1vw;
  font-size: 1.5vw;
  margin-bottom: 2%;
}

form input[type="submit"] {
  background-color: var(--button_bg);
  color: var(--black_text);
  width: 100%;
  border: none;
  padding: 1vw;
  font-size: 1.5vw;
  border: 0.1vw solid var(--button_border);
  border-radius: 0.5vw;
  transition: 0.5s ease-in-out;
}
form input[type="submit"]:hover {
  background-color: var(--button_bg_hover);
  border: 0.1vw solid var(--button_border_hover);
}
form input::placeholder {
  color: var(--black_text);
  opacity: 0.5;
}
* {
  font-weight: lighter;
}
